"*":
  core:
    disabledPackages: [
      "wrap-guide"
      "background-tips"
    ]
    excludeVcsIgnoredPaths: false
    telemetryConsent: "limited"
    themes: [
      "one-dark-ui"
      "Wild-Cherry"
    ]
  editor:
    fontSize: 15
  "exception-reporting":
    userId: "5a512b89-5de8-458a-bf84-0489736c1f85"
  welcome:
    showOnStartup: false
